<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
</head>
    <body>
        <h1> Cocktail Website </h1>
        <a href="view-cocktails"> See all cocktails </a> <br/>
        <a href="cocktail-search">Search for a cocktail</a>
    </body>
</html>