<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Removed</title>
</head>

<body>
	<h1>Removed All Saved Ingredients</h1>
	<div>
		All ingredients have been removed from the database
		<br>
	</div>
	<br/>
	<a href="/"><u>HOME</u></a>
	<br/>
</body>

</html>
