<!doctype html>
<html>
<head>
    <title>Page Title</title>
    <link rel="stylesheet" href="form.css"/>
	<script>
		function checkAlert() {
			alert("Are you sure you want to remove all saved ingredients?")
		}
	</script>
</head>

<body>
	<h1>Clear Saved Ingredients</h1>
	<form action=/remove-saved method="post">
		<input type="submit" value="Remove all saved ingredients?" onclick="checkAlert()"></label>
		<br>
	</form>
    <a href="/"><u>HOME</u></a>
	<br/>
</body>

</html>
