<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
</head>
    <body>
        <h1> Cocktail Website </h1>
        Cocktail Info:<br/>
        <a href="view-cocktails"> See all cocktails </a> <br/>
        <a href="cocktail-search">Search for a cocktail</a> <br/>
        <br/>
        Saved Cocktails:<br/>
        <a href="save-ingredients"> Save Ingredients </a> <br/>
        <a href="search-saved"> Search for Cocktails with Saved Ingredients </a> <br/>
        <a href="remove-saved"> Clear Saved Ingredients </a> <br/>
    </body>
</html>